

.nav {
    background-color: rgb(53, 50, 50);
  }

  .holin {
    color: rgb(53, 50, 50);
    background-color: lightblue;
    margin-top: 7px;
    margin-bottom:7px;
    padding-left: 50px;
    padding-right:5px;
    margin-left: -20px;
  } 

  .tabs {
    display:flex;
    justify-content:space-between;
    gap:100px;
    margin-left:275px
  }
/* ------------------------------------------------------------ */
.nav-item {
    margin-top: 29px;
    color:red;

}
.nav-link active {
    color:red;
}
.nav-link {
    color:red;
}

a {
    color:red;
}


